@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#text-area {
    display: block;
    width: 90%;
    padding: 1rem;
    height: 10vh;
    margin: 1rem;

}

#output {
    width: 90%;
    height: 10vh;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
}

#container-center {
    max-width: 600px;
    margin: auto;
    margin-top: 3rem;
}

#navigation {
    margin: auto; 
    background-color: #7C3AED;  
    padding: 1rem;
    margin: 1rem 0rem;
}

#heading {
    text-align: center;
    font-weight: bold;  
}

#btn-translate {
    margin-left: 1rem;
    padding: 1rem;
    width: 8rem;
    font-weight: bold;
    font-size: 1rem;
}
#message {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

#footer {
    margin-top: 6rem;
    background-color: #7C3AED; 
    text-align: center;
    padding: 0.3rem;
}

#footer-desc {
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 0rem;
}